<a11y-header></a11y-header>

<h1>Legal notice</h1>

<h2>Publisher identification</h2>
<p>
  Directorate for Legal and Administrative Information 26, rue Desaix 75727
  Paris Cedex 15
</p>
<p>Standard: 01 40 58 75 00</p>
<p>SIREN NO: 130-009-186</p>
<p>SIRET NO: 130-009-186 00011</p>
<p>EPA Code: 5813Z / Journal Edition</p>

<h2>Publishing Director</h2>
<p>Within the meaning of Article 93-2 of Law No. 82-652 of 29 July 1982.</p>
<p>Fred</p>

<h2>Accommodation provider</h2>
<p>For a11y-project.fr</p>
<p>Worldline France</p>
<p>1, Place des Degrés</p>
<p>92800 Puteaux</p>

<h2>Processing of personal data</h2>
<p>
  For more details, see: <a routerLinl="/privacy-policies">Privacy Policies</a>
</p>

<a11y-footer></a11y-footer>
