<div class="header">
  <div class="header__logo">
    <p>a11y Project</p>
    <div class="header__menu">
      <a routerLink="/">
        <span class="header__menu-link">
          {{'headerComponent.home' | translate}}
        </span>
      </a>
      <a routerLink="/about">
        <span class="header__menu-link">
          {{'headerComponent.about' | translate}}
        </span>
      </a>
      <a routerLink="/contact">
        <span class="header__menu-link">
          {{'headerComponent.contact' | translate}}
        </span>
      </a>
      <a routerLink="/news">
        <span class="header__menu-link">
          {{'headerComponent.news' | translate}}
        </span>
      </a>
      <a routerLink="/lists">
        <span class="header__menu-link">
          {{'headerComponent.lists' | translate}}
        </span>
      </a>
      @if (!authService.isLoggedIn()) {
      <a routerLink="/login">
        <span class="header__menu-link">
          {{'headerComponent.login' | translate}}
        </span>
      </a>
      <a routerLink="/register">
        <span class="header__menu-link">
          {{'headerComponent.register' | translate}}
        </span>
      </a>
      } @else {
      <button class="btn--less" (click)="logout()">
        <span class="header__menu-link">
          {{'headerComponent.logout' | translate}}
        </span>
      </button>
      }
    </div>
  </div>
</div>