.header {
  background-color: #069b8f;
  color: aqua;
  margin-bottom: 6rem;

  &__logo {
    float: left;
    padding: .625rem;
    font-size: 3em;
    font-weight: bolder;
  }

  &__menu {
    padding: .625rem;

    &-link {
      font-size: 1.5rem;
      padding: .625rem 3.125rem;
      display: inline-block;
      color: aquamarine;
      text-decoration: underline !important;
      cursor: pointer;
    }
  }

  .btn--less {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
