<div class="header">
  <div class="header__content">
    <div class="header__logo">
      <p>a11y Project</p>
    </div>
    <div class="header__menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="header__menu-link">
          {{'headerComponent.home' | translate}}
        </span>
      </a>
      <a routerLink="/about" routerLinkActive="active">
        <span class="header__menu-link">
          {{'headerComponent.about' | translate}}
        </span>
      </a>
      <a routerLink="/contact" routerLinkActive="active">
        <span class="header__menu-link">
          {{'headerComponent.contact' | translate}}
        </span>
      </a>
      <a routerLink="/news" routerLinkActive="active">
        <span class="header__menu-link">
          {{'headerComponent.news' | translate}}
        </span>
      </a>
      <a routerLink="/lists" routerLinkActive="active">
        <span class="header__menu-link">
          {{'headerComponent.lists' | translate}}
        </span>
      </a>
      @if (!authService.isLoggedIn()) {
      <a routerLink="/login" routerLinkActive="active">
        <span class="header__menu-link">
          {{'headerComponent.login' | translate}}
        </span>
      </a>
      <a routerLink="/register" routerLinkActive="active">
        <span class="header__menu-link">
          {{'headerComponent.register' | translate}}
        </span>
      </a>
      } @else {
      <button class="btn--less" (click)="logout()">
        <span class="header__menu-link">
          {{'headerComponent.logout' | translate}}
        </span>
      </button>
      }
    </div>
  </div>
  <div class="header__lang-selector">
    <select id="langSelector" (change)="switchLang($event)">
      @for (lang of (availableLangs); track lang) {
      <option [value]="lang" [selected]="lang === currentLang">{{ lang }}</option>
      }
    </select>
  </div>
</div>