<div class="header">
  <div class="header__logo"> a11y Project</div>
  <div class="header__menu">
    <span class="header__menu-item">
      <a class="header__menu-link" routerLink="/">
        Home
      </a>
    </span>
    <span class="header__menu-item">
      <a class="header__menu-link" (click)="goToContact()">
        Contact
      </a>
    </span>
    <span class="header__menu-item">
      <a class="header__menu-link" (click)="goToNews()">
        News
      </a>
    </span>
    <span class="header__menu-item">
      <a class="header__menu-link" routerLink="/lists">
        Lists
      </a>
    </span>
    @if (!authService.isLoggedIn()) {
      <span class="header__menu-item">
        <a class="header__menu-link" (click)="goToLogin()">
          Login
        </a>
      </span>
      <span class="header__menu-item">
        <a class="header__menu-link" (click)="goToRegister()">
          Register
        </a>
      </span>
    } @else {
      <span class="header__menu-item">
        <a class="header__menu-link" (click)="logout()">
          Logout
        </a>
      </span>
    }

  </div>
</div>
