@if (showCookieBanner) {
<div class="banner">
  <h1> Cookies </h1>
  <p>We use cookies to enhance your experience, analyze site traffic, and personalize content. By continuing to browse,
    you consent to our use of cookies. You can manage your preferences in the settings.</p>
  <div class="button-cookies">
    <button class="button" (click)="acceptBanner()"> Accept</button>
    <button class="button" (click)="dismissBanner()"> Decline</button>
  </div>
  <div class="rgpd">
    <a routerLink="/privacy-policies">
      Privacy Policies
    </a>
    <a href="">
      Legal notices
    </a>
  </div>
</div>

}