.banner {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 200px;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 15px 15px 0 0;
  text-align: center;

  h1 {
    text-align: center;
    color: var(--primary-color)
  }

  p {
    color: var(--primary-color)
  }
}

.button-cookies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: .5rem;
}

a {
  font-size: .8rem;
  color: var(--primary-color)
}

.button {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 50px;
  box-shadow: none;
  border: 0;
  padding: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: all 0.5s ease-in;
}

.button:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border-radius: 50px;
  box-shadow: none;
  border: 0;
  padding: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.rgpd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}