<a11y-header></a11y-header>

<h1>Contact us</h1>

<div class="contact-text">
  If you are so hype about our project and want to contact us, please fill the
  form below. (I did not write this text, Copilot did)
</div>

<div class="contact">
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="field-container">
      <label for="name">Name</label>
      <input
        [(ngModel)]="data.name"
        name="name"
        required
        #name="ngModel"
        placeholder="Name"
        tabindex="1"
        [ngClass]="{ error: name.invalid }"
      />
    </div>
    <div class="field-container">
      <label for="age">Âge</label>
      <input
        [(ngModel)]="data.age"
        type="number"
        min="1"
        max="120"
        required
        name="age"
        #age="ngModel"
        placeholder="Age"
        [ngClass]="{ error: age.invalid }"
        tabindex="3"
      />
    </div>
    <div class="field-container">
      <label for="phoneNumber"
        >Phone number
        <span>(Format +33123456789)</span>
      </label>
      <input
        [(ngModel)]="data.phoneNumber"
        type="tel"
        name="phoneNumber"
        required
        pattern="\+[0-9]{11}"
        #phoneNumber="ngModel"
        placeholder="Phone number"
        [ngClass]="{ error: phoneNumber.invalid }"
        tabindex="4"
      />
    </div>
    <div class="field-container">
      <label for="email">Email</label>
      <input
        type="email"
        [(ngModel)]="data.email"
        name="email"
        required
        #email="ngModel"
        placeholder="Email"
        [ngClass]="{ error: email.invalid }"
        tabindex="2"
      />
    </div>
    <div class="field-container message">
      <label for="message">Message</label>
      <textarea
        [(ngModel)]="data.message"
        name="message"
        placeholder="Message"
      ></textarea>
    </div>
    <button type="submit" tabindex="1">Submit</button>
  </form>
</div>

<a11y-footer></a11y-footer>
