<div class="newsletter">
  <p class="newsletter__title">
    {{ 'newsletterComponent.title' | translate }}
  </p>
  <p class="newsletter__text">
    {{ 'newsletterComponent.content' | translate }}
  </p>

    @if (submit) {
      {{ 'newsletterComponent.thanks' | translate }}
    } @else {
      <form class="newsletter__form" (ngSubmit)="registerToNewsletter()" #newsletterForm="ngForm">
        <input
          class="newsletter__input"
          type="text"
          [placeholder]="'newsletterComponent.placeholder' | translate"
          [ariaLabel]="'newsletterComponent.placeholder' | translate"
          [(ngModel)]="email"
          required
        />
        <button
          class="newsletter__button"
          type="submit"
          [disabled]="newsletterForm['form'].invalid"
        >
        {{ 'newsletterComponent.button' | translate }}
        </button>
      </form>
    }
</div>
